@font-face {
  font-family: Clear Sans;
  src: url(/fonts/ClearSans-Bold.woff2);
  font-weight: bold;
}
body {
  font-family: 'Clear Sans', sans-serif;
  line-height: 1.4;
  font-size: 18px;
  background: #fff;
  color: #666;
  margin: 0;
  margin-bottom: 7em;
}
@media (max-width: 799px) {
  body {
    font-size: .95em;
    margin-bottom: 3em;
  }
  body #content {
    padding: 0px 15px 0px 15px;
  }
  h1.title {
    margin-top: 0.7em;
    font-size: 32px;
  }
  p.subtitle {
    font-size: 22px;
  }
  body section.outline-2 h2 {
    margin-top: 5px;
    font-size: 23px;
  }
  body h3 {
  font-size: 5px;
  margin-top: 21px;
  font-weight: bold;
  }
  body div.org-src-container pre {
    font-size: 13px;
  }
  h2.footnotes {
    margin-top: 8px;
    margin-bottom: 4px;
    font-size: 18px;
  }
}
p.subtitle {
  font-size: 17px;
  margin-top: 1em;
  margin-bottom: 1.4em;
}
h2.footnotes {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 5px;
}
p.footpara {
  line-height: 25px;
}
#text-footnotes {
  line-height: 0.6;
}
body h2,
body h3,
body h4 {
  font-weight: normal;
  margin: 0;
  padding: 0;
  color: #444;
}
body h1 b,
body h2 b,
body h3 b,
body h4 b {
  display: block;
  line-height: 1;
  font-size: 150%;
}
body h1 img,
body h2 img,
body h3 img,
body h4 img {
  vertical-align: middle;
  border: 0 none;
}
body h1 {
  font-size: 41px;
  margin-top: 0.8em;
  font-weight: bold;
}
body h2 {
  margin-top: 0.9em;
  position: relative;
  font-size: 35px;
}
body h3 {
  font-size: 23px;
  margin-top: 1em;
  font-weight: bold;
}
body p {
  text-align: justify;
}
body a {
  text-decoration: none;
  color: #1692cc;
}
body a:hover {
  color: #91351c;
  text-decoration: underline;
}
body pre {
  background: white;
}
body pre.src {
  overflow-y: auto !important;
  font-size: 16px;
}
body code {
  background: #eee;
  border: 1px solid #ccc;
  padding: 0px 4px;
  color: #666;
  overflow-x: auto;
  font-size: .9em;
}
body li {
  margin-bottom: 1em;
}
body img {
  border: 1px solid #ccc;
  height: auto;
}
@media (max-width: 800px) {
  body img {
    max-width: 100%;
  }
}
body img.no-border {
  border: none;
}
body img.rounded-border {
    border-radius: 20px;
}
body img.black-border {
    border: 2px solid black;
}
body img.spaced-border {
    border: 1px solid gray;
    padding: 15px;
}
body .tag {
  background: transparent;
  font-size: 0.6em;
}
body .tag span {
  background: #1692cc;
  color: white;
  padding: 2px 5px;
  border-radius: 4px;
}
body .pubdate {
  color: #aaa;
  font-size: 14px;
  margin-bottom: 20px;
  margin-top: -16px;
  text-align: right;
  border-bottom: 1px solid #e2e2e2;
}
body .pubdate p {
  display: inline;
  margin-right: 10px;
}
@media (max-width: 800px) {
  body .pubdate {
    margin-top: 0;
    text-align: left;
  }
}
body .nav-blog {
  text-align: right;
}
body .org-info-js_info-navigation {
  background: #bbb;
}
@media (min-width: 800px) {
  body #content {
    margin: 0 auto;
    max-width: 700px !important;
    width: 700px !important;
  }
}
body #content {
  margin-top: 10px;
}
body .nav {
  text-align: center;
  margin-top: 30px;
  border-bottom: 1px solid #e2e2e2;
  font-size: 12px;
  text-transform: uppercase;
}
body .nav ul {
  list-style: none;
  padding: 0;
}
body .nav ul li {
  color: #999;
  display: inline-block;
  margin: 0;
}
body .nav ul li a {
  display: inline-block;
  padding-right: 6px;
  border-radius: 0;
  font-weight: normal;
  color: #6a6a6a;
}
body .clearfix {
  clear: both;
}
@media (min-width: 800px) {
  body .contact {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    -moz-column-gap: 3em;
    -webkit-column-gap: 3em;
    column-count: 2;
    column-gap: 3em;
  }
}
